@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
 
 
 .App {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  font-family: 'Poppins', sans-serif;

}



.bar-chart{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.recharts-responsive-container{
  box-shadow: 2px 2px 2px 2px rgb(222,226,230) !important;
  background-color: white !important;
  border-radius: 15px !important;
}

.content{
  color: red;
  margin-bottom: 20px;
  opacity: .7;
}

.CarPie-chart{
  width: 70%;
  height: 400px;
  padding-bottom: 120px;
  margin-top: 30px;
  /* margin-left: 200px; */
  margin: auto;
}
h1{
  font-size: 20px;
}
.canvasjs-chart-canvas{
    box-shadow: 2px 2px 2px 2px rgb(222,226,230) !important;
    border-radius: 15px !important;
}
.canvasjs-chart-toolbar{
  display: none;
}
.canvasjs-chart-credit{
  display: none;
}


.virtual{
  display: flex;
  /* justify-content: center; */
  width: 70%;
  margin: auto;
  margin-top: 30px;
}


.filterData{
  height: 400px;
  overflow-y: scroll;
  width: 27%;
  box-shadow: 2px 2px 2px 2px rgb(222,226,230) !important;
  border-radius: 15px !important;
  padding: 10px;
  line-height: 1.6;
  background-color: white;
}
.filterData1{
  height: 587px;
  overflow-y: scroll;
  width: 27%;
  box-shadow: 2px 2px 2px 2px rgb(222,226,230) !important;
  border-radius: 15px !important;
  padding: 10px;
  line-height: 1.6;
  background-color: white;
}

.filterData a{
  text-decoration: none;
  float: left;
  cursor: pointer;
}
.filterData1 a{
  text-decoration: none;
  float: left;
  cursor: pointer;
}
.nameId{
  display: flex;
  justify-content: space-between;
}
.nameId span{
color: red;
opacity: 0.7;

  }

#filterAge{
  float: right;
  cursor: pointer;
  
}

.displayData{
  float: right;
  width: 73%;
}

.nameDropDown{
  display: flex;
  justify-content: space-between;
}

.nameDropDown select{
  height: 25px;
  margin-top: 10px;
}
